# Create and access SQLite database using python

Sqlite is a software library that implements a self-contained server-less, zero-configuration transactional sql database engine. SQLite is the most widely deployed SQL database engine in the world.

## Task 1: create database using sqlite

In [1]:
import sqlite3

In [2]:
## Connecting to sqlite
conn = sqlite3.connect('INSTRACTOR.db')

Cursor class is an instance using which you can invoke methods that execute sqlite statements, fetch data from result set of queries. You can create cursor object using cursor() method of the connection object/class.

In [3]:
cursor_obj = conn.cursor()

## Task 2: create a table in the database
Before creating the table let's first check if the table already exists or not. To drop a table from database use Drop table query. A cursor is an object that execute the query and fetch the result from the database

In [4]:
cursor_obj.execute('DROP TABLE IF EXISTS INSTRUCTOR')

In [5]:
## creating table 
table = '''create table IF NOT EXISTS INSTRUCTOR(ID INTEGER PRIMARY KEY NOT NULL,
FNAME VARCHAR(20),
LNAME VARCHAR(20),
CITY VARCHAR(20),
CCODE CHAR(2));'''

cursor_obj.execute(table)
print('table is created')

table is created

## Task 3: Insert data into table
let's start with just inserting one row of data

In [7]:
cursor_obj.execute('''insert into INSTRUCTOR values (1, 'zainab', 'rahimi', 'Nice', 'nc')''')

In [8]:
## Now inserting two more rows
cursor_obj.execute('''insert into INSTRUCTOR values (2, 'Raul', 'Chong', 'Markham', 'CA'), (3, 'Hima', 'Vasudevan', 'Chicago', 'US')''')

## Task 4: Query data in the table
in this step we will retrieve the data we inserted into the table

In [11]:
statement ='SELECT * FROM INSTRUCTOR'
cursor_obj.execute(statement)
print("All the data")
output_all = cursor_obj.fetchall()
for row_data in output_all:
    print(row_data)

All the data
(1, 'zainab', 'rahimi', 'Nice', 'nc')
(2, 'Raul', 'Chong', 'Markham', 'CA')
(3, 'Hima', 'Vasudevan', 'Chicago', 'US')

In [12]:
## Fetch few rows from the data
statement ='SELECT * FROM INSTRUCTOR'
cursor_obj.execute(statement)
print ("Some rows of the data")
## For fetching a few rows of the data we use fetchmany() and we can pass a number argument to specify the number of rows
# that we want to fetch
output_some = cursor_obj.fetchmany(2)
for output_row in output_some:
    print(output_row)

Some rows of the data
(1, 'zainab', 'rahimi', 'Nice', 'nc')
(2, 'Raul', 'Chong', 'Markham', 'CA')

In [13]:
## Fetch only FNAME from the table
statement ='SELECT FNAME FROM INSTRUCTOR'
cursor_obj.execute(statement)
print ("all the Fnames")
f_names = cursor_obj.fetchall()
for name in f_names:
    print(name)

all the Fnames
('zainab',)
('Raul',)
('Hima',)

<strong>Bonus: now write and execute an statement that update data </strong>

In [14]:
statement_update = '''update INSTRUCTOR set CITY ='ny' where FNAME = 'zainab' '''
cursor_obj.execute(statement_update)
print("Data has been updated")

Data has been updated

statement = '''SELECT * FROM INSTRUCTOR'''
cursor_obj.execute(statement)
output_all = cursor_obj.fetchall()
for row_data in output_all:
    print(row_data)

## Task 5: retrieve data into pandas
in this step we will retrieve the content of the table INSTRUCTOR into a pandas dataframe

In [23]:
import pandas as pd
df = pd.read_sql_query('SELECT * FROM INSTRUCTOR',  conn)
df

   ID   FNAME      LNAME     CITY CCODE
0   1  zainab     rahimi       ny    nc
1   2    Raul      Chong  Markham    CA
2   3    Hima  Vasudevan  Chicago    US

Once we get the data as dataframe we can perform typical pandas operations on it.
for example we can use shape method to see how many rows and columns the dataframe have.

In [24]:
df['LNAME']

0       rahimi
1        Chong
2    Vasudevan
Name: LNAME, dtype: object

In [25]:
df.shape

(3, 5)

In [26]:
df.FNAME[0]

'zainab'

## Task 5: close the connection
We free all the resources by closing the connection. Remember that always close connection to avoid unused connections
taking up resources.

In [29]:
conn.close()