In [2]:
import pandas as pd
import sqlite3
conn = sqlite3.connect('FinalDB.db')

In [3]:
%load_ext sql

Use `Pandas` to load the data available in the links above to dataframes. Use these dataframes to load data on to the database `FinalDB.db` as required tables.

In [4]:
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01")
df.to_sql('census_data', conn, if_exists = 'replace')

df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01")
df.to_sql('public_school_data', conn, if_exists = 'replace')

df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01")
df.to_sql('crime_data', conn, if_exists= 'replace')

533

Establish a connection between SQL magic module and the database `FinalDB.db`

In [5]:
%sql sqlite:///FinalDB.db

## Problems

Now write and execute SQL queries to solve assignment problems

### Problem 1

##### Find the total number of crimes recorded in the CRIME tabl

In [6]:
%sql select name from pragma_table_info('crime_data')
%sql select count(*) from crime_data

 * sqlite:///FinalDB.db
Done.
 * sqlite:///FinalDB.db
Done.

[(533,)]


### Problem 2

##### List community area names and numbers with per capita income less than 11000.

In [7]:
#%sql select name from pragma_table_info('census_data');
%sql select COMMUNITY_AREA_NUMBER, COMMUNITY_AREA_NAME, PER_CAPITA_INCOME from \
census_data where PER_CAPITA_INCOME < 11000

 * sqlite:///FinalDB.db
Done.

[(26.0, 'West Garfield Park', 10934),
 (30.0, 'South Lawndale', 10402),
 (37.0, 'Fuller Park', 10432),
 (54.0, 'Riverdale', 8201)]

### Problem 3

##### List all case numbers for crimes involving minors?(children are not considered minors for the purposes of crime analysis)

In [8]:
# %sql select name from pragma_table_info('crime_data'); 
%sql select CASE_NUMBER, DESCRIPTION from crime_data \
where DESCRIPTION like '%MINOR%';

 * sqlite:///FinalDB.db
Done.

[('HL266884', 'SELL/GIVE/DEL LIQUOR TO MINOR'),
 ('HK238408', 'ILLEGAL CONSUMPTION BY MINOR')]

### Problem 4

##### List all kidnapping crimes involving a child?

In [13]:
%sql select DESCRIPTION, PRIMARY_TYPE from crime_data \
where PRIMARY_TYPE= 'KIDNAPPING' AND DESCRIPTION like'%CHILD%';

 * sqlite:///FinalDB.db
Done.

[('AGG SEX ASSLT OF CHILD FAM MBR', 'OFFENSE INVOLVING CHILDREN'),
 ('SEX ASSLT OF CHILD BY FAM MBR', 'OFFENSE INVOLVING CHILDREN'),
 ('CHILD ABDUCTION/STRANGER', 'KIDNAPPING')]

### Problem 5

##### List the kind of crimes that were recorded at schools. (No repetitions)

In [10]:
%sql select PRIMARY_TYPE, DESCRIPTION, LOCATION_DESCRIPTION from crime_data \
where LOCATION_DESCRIPTION like '%SCHOOL%' \
group by DESCRIPTION;

 * sqlite:///FinalDB.db
Done.

[('PUBLIC PEACE VIOLATION', 'BOMB THREAT', 'SCHOOL, PRIVATE, BUILDING'),
 ('NARCOTICS', 'MANU/DEL:CANNABIS 10GM OR LESS', 'SCHOOL, PUBLIC, BUILDING'),
 ('NARCOTICS', 'POSS: HEROIN(WHITE)', 'SCHOOL, PUBLIC, GROUNDS'),
 ('BATTERY', 'PRO EMP HANDS NO/MIN INJURY', 'SCHOOL, PUBLIC, BUILDING'),
 ('BATTERY', 'SIMPLE', 'SCHOOL, PUBLIC, GROUNDS'),
 ('CRIMINAL TRESPASS', 'TO LAND', 'SCHOOL, PUBLIC, GROUNDS'),
 ('CRIMINAL DAMAGE', 'TO VEHICLE', 'SCHOOL, PUBLIC, GROUNDS')]

### Problem 6

##### List the type of schools along with the average safety score for each type.

In [24]:
%%sql 
select name from pragma_table_info('public_school_data');
select `Elementary, Middle, or High School`  ,avg(SAFETY_SCORE) from public_school_data group by `Elementary, Middle, or High School`;

 * sqlite:///FinalDB.db
Done.
Done.

[('ES', 49.52038369304557), ('HS', 49.62352941176471), ('MS', 48.0)]

Problem 7
List 5 community areas with highest % of households below poverty line

In [30]:
%%sql
#select name from pragma_table_info('census_data');
select COMMUNITY_AREA_NAME,PERCENT_HOUSEHOLDS_BELOW_POVERTY from census_data order by PERCENT_HOUSEHOLDS_BELOW_POVERTY desc limit 7;

 * sqlite:///FinalDB.db
Done.
Done.

[('Riverdale', 56.5),
 ('Fuller Park', 51.2),
 ('Englewood', 46.6),
 ('North Lawndale', 43.1),
 ('East Garfield Park', 42.4),
 ('Washington Park', 42.1),
 ('West Garfield Park', 41.7)]

### Problem 8

##### Which community area is most crime prone? Display the coumminty area number only

In [52]:
%sql select count(*)as count_number,COMMUNITY_AREA_NUMBER \
from crime_data group by COMMUNITY_AREA_NUMBER \
order by count_number Desc LIMIT 10;

 * sqlite:///FinalDB.db
Done.

[(43, 25.0),
 (43, None),
 (22, 23.0),
 (21, 68.0),
 (16, 29.0),
 (16, 28.0),
 (15, 8.0),
 (14, 71.0),
 (13, 24.0),
 (12, 67.0)]

### Problem 9

##### Use a sub-query to find the name of the community area with highest hardship index

In [53]:
%sql select COMMUNITY_AREA_NAME from census_data where \
HARDSHIP_INDEX =(select max("HARDSHIP_INDEX") from census_data);

 * sqlite:///FinalDB.db
Done.

[('Riverdale',)]

### Problem 10

##### Use a sub-query to determine the Community Area Name with most number of crimes?

In [54]:
%sql select COMMUNITY_AREA_NAME from census_data where COMMUNITY_AREA_NUMBER = \
(select COMMUNITY_AREA_NUMBER from crime_data \
 group by COMMUNITY_AREA_NUMBER order by count(CASE_NUMBER)	 Desc limit 1);

 * sqlite:///FinalDB.db
Done.

[('Austin',)]