In [1]:
import csv, sqlite3
import pandas as pd

con = sqlite3.connect("RealWorldData.db")
cur = con.cursor()

In [2]:
## load magic extension of sql and connect to the database
%load_ext sql

In [3]:
%sql sqlite:///RealWorldData.db

In [4]:
## Download and read the csv files and save then into the database
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv")
df.to_sql("CENSUS_DATA", con, if_exists='replace', index=False,method="multi")

df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv")
df.to_sql("CHICAGO_CRIME_DATA", con, if_exists='replace', index=False, method="multi")

533

In [13]:
df1 = pd.read_csv("ChicagoPublicSchools.csv")
df1.to_sql("CHICAGO_PUBLIC_SCHOOLS_DATA", con, if_exists='replace', index=False)

566

In [14]:
## retrieve list of the tables in the database
%sql select name from sqlite_master where type ='table'

 * sqlite:///RealWorldData.db
Done.

[('CENSUS_DATA',), ('CHICAGO_CRIME_DATA',), ('CHICAGO_PUBLIC_SCHOOLS_DATA',)]

#### Query the database system catalog to retrive column metadata
public school data table contain a large number of columns, how many columns does the table have?
(use PRAGMA_TABLE_INFO)

In [24]:

%sql SELECT count(name) FROM PRAGMA_TABLE_INFO('CHICAGO_PUBLIC_SCHOOLS_DATA');

 * sqlite:///RealWorldData.db
Done.

[(78,)]

In [31]:
# Query and retrieve list of columns in SCHOOLS table and their column type (datatype) and length
%sql select name, type, length(type) from PRAGMA_TABLE_INFO('CHICAGO_PUBLIC_SCHOOLS_DATA');

 * sqlite:///RealWorldData.db
Done.

[('School_ID', 'INTEGER', 7),
 ('NAME_OF_SCHOOL', 'TEXT', 4),
 ('Elementary, Middle, or High School', 'TEXT', 4),
 ('Street_Address', 'TEXT', 4),
 ('City', 'TEXT', 4),
 ('State', 'TEXT', 4),
 ('ZIP_Code', 'INTEGER', 7),
 ('Phone_Number', 'TEXT', 4),
 ('Link', 'TEXT', 4),
 ('Network_Manager', 'TEXT', 4),
 ('Collaborative_Name', 'TEXT', 4),
 ('Adequate_Yearly_Progress_Made_', 'TEXT', 4),
 ('Track_Schedule', 'TEXT', 4),
 ('CPS_Performance_Policy_Status', 'TEXT', 4),
 ('CPS_Performance_Policy_Level', 'TEXT', 4),
 ('HEALTHY_SCHOOL_CERTIFIED', 'TEXT', 4),
 ('Safety_Icon', 'TEXT', 4),
 ('SAFETY_SCORE', 'REAL', 4),
 ('Family_Involvement_Icon', 'TEXT', 4),
 ('Family_Involvement_Score', 'TEXT', 4),
 ('Environment_Icon', 'TEXT', 4),
 ('Environment_Score', 'REAL', 4),
 ('Instruction_Icon', 'TEXT', 4),
 ('Instruction_Score', 'REAL', 4),
 ('Leaders_Icon', 'TEXT', 4),
 ('Leaders_Score', 'TEXT', 4),
 ('Teachers_Icon', 'TEXT', 4),
 ('Teachers_Score', 'TEXT', 4),
 ('Parent_Engagement_Icon', 'TEXT', 4),
 ('Parent_Engagement_Score', 'TEXT', 4),
 ('Parent_Environment_Icon', 'TEXT', 4),
 ('Parent_Environment_Score', 'TEXT', 4),
 ('AVERAGE_STUDENT_ATTENDANCE', 'TEXT', 4),
 ('Rate_of_Misconducts__per_100_students_', 'REAL', 4),
 ('Average_Teacher_Attendance', 'TEXT', 4),
 ('Individualized_Education_Program_Compliance_Rate', 'TEXT', 4),
 ('Pk_2_Literacy__', 'TEXT', 4),
 ('Pk_2_Math__', 'TEXT', 4),
 ('Gr3_5_Grade_Level_Math__', 'TEXT', 4),
 ('Gr3_5_Grade_Level_Read__', 'TEXT', 4),
 ('Gr3_5_Keep_Pace_Read__', 'TEXT', 4),
 ('Gr3_5_Keep_Pace_Math__', 'TEXT', 4),
 ('Gr6_8_Grade_Level_Math__', 'TEXT', 4),
 ('Gr6_8_Grade_Level_Read__', 'TEXT', 4),
 ('Gr6_8_Keep_Pace_Math_', 'TEXT', 4),
 ('Gr6_8_Keep_Pace_Read__', 'TEXT', 4),
 ('Gr_8_Explore_Math__', 'TEXT', 4),
 ('Gr_8_Explore_Read__', 'TEXT', 4),
 ('ISAT_Exceeding_Math__', 'REAL', 4),
 ('ISAT_Exceeding_Reading__', 'REAL', 4),
 ('ISAT_Value_Add_Math', 'REAL', 4),
 ('ISAT_Value_Add_Read', 'REAL', 4),
 ('ISAT_Value_Add_Color_Math', 'TEXT', 4),
 ('ISAT_Value_Add_Color_Read', 'TEXT', 4),
 ('Students_Taking__Algebra__', 'TEXT', 4),
 ('Students_Passing__Algebra__', 'TEXT', 4),
 ('9th Grade EXPLORE (2009)', 'TEXT', 4),
 ('9th Grade EXPLORE (2010)', 'TEXT', 4),
 ('10th Grade PLAN (2009)', 'TEXT', 4),
 ('10th Grade PLAN (2010)', 'TEXT', 4),
 ('Net_Change_EXPLORE_and_PLAN', 'TEXT', 4),
 ('11th Grade Average ACT (2011)', 'TEXT', 4),
 ('Net_Change_PLAN_and_ACT', 'TEXT', 4),
 ('College_Eligibility__', 'TEXT', 4),
 ('Graduation_Rate__', 'TEXT', 4),
 ('College_Enrollment_Rate__', 'TEXT', 4),
 ('COLLEGE_ENROLLMENT', 'INTEGER', 7),
 ('General_Services_Route', 'INTEGER', 7),
 ('Freshman_on_Track_Rate__', 'TEXT', 4),
 ('X_COORDINATE', 'REAL', 4),
 ('Y_COORDINATE', 'REAL', 4),
 ('Latitude', 'REAL', 4),
 ('Longitude', 'REAL', 4),
 ('COMMUNITY_AREA_NUMBER', 'INTEGER', 7),
 ('COMMUNITY_AREA_NAME', 'TEXT', 4),
 ('Ward', 'INTEGER', 7),
 ('Police_District', 'INTEGER', 7),
 ('Location', 'TEXT', 4)]

### Questions
<ol>

1.  Is the column name for the "SCHOOL ID" attribute in upper or mixed case?

2.  What is the name of "Community Area Name" column in your table? Does it have spaces?

3.  Are there any columns in whose names the spaces and paranthesis (round brackets) have been replaced by the underscore character "\_"?
</ol>

##### answers

1. "School_ID" is mixed case
2.  "COMMUNITY_AREA_NAME" no it doesn't have spaces
3.

## Problems

### Problem 1

##### How many Elementary Schools are in the dataset?

In [40]:
%sql select `Elementary, Middle, or High School`, count() from CHICAGO_PUBLIC_SCHOOLS_DATA group by `Elementary, Middle, or High School` ;

 * sqlite:///RealWorldData.db
Done.

[('ES', 462), ('HS', 93), ('MS', 11)]

In [48]:
## or we can get to the answer using where clause
%sql select count(*) from CHICAGO_PUBLIC_SCHOOLS_DATA WHERE `Elementary, Middle, or High School`= 'ES'; 
## attention: using single or double quote didn't work to specify the column_name (use backtick)

 * sqlite:///RealWorldData.db
Done.

[(462,)]

### Problem 2

##### What is the highest Safety Score?

In [50]:
%sql select max(SAFETY_SCORE) as max_safety_score from CHICAGO_PUBLIC_SCHOOLS_DATA;

 * sqlite:///RealWorldData.db
Done.

[(99.0,)]

### Problem 3

##### Which schools have highest Safety Score?

In [55]:
%sql select NAME_OF_SCHOOL, SAFETY_SCORE from CHICAGO_PUBLIC_SCHOOLS_DATA order by SAFETY_SCORE DESC limit 20;

 * sqlite:///RealWorldData.db
Done.

[('Abraham Lincoln Elementary School', 99.0),
 ('Alexander Graham Bell Elementary School', 99.0),
 ('Annie Keller Elementary Gifted Magnet School', 99.0),
 ('Augustus H Burley Elementary School', 99.0),
 ('Edgar Allan Poe Elementary Classical School', 99.0),
 ('Edgebrook Elementary School', 99.0),
 ('Ellen Mitchell Elementary School', 99.0),
 ('James E McDade Elementary Classical School', 99.0),
 ('James G Blaine Elementary School', 99.0),
 ('LaSalle Elementary Language Academy', 99.0),
 ('Mary E Courtenay Elementary Language Arts Center', 99.0),
 ('Northside College Preparatory High School', 99.0),
 ('Northside Learning Center High School', 99.0),
 ('Norwood Park Elementary School', 99.0),
 ('Oriole Park Elementary School', 99.0),
 ('Sauganash Elementary School', 99.0),
 ('Stephen Decatur Classical Elementary School', 99.0),
 ('Talman Elementary School', 99.0),
 ('Wildwood Elementary School', 99.0),
 ('Walter Payton College Preparatory High School', 98.0)]

In [59]:
## Or we can use sub-queries like below:
%sql select Name_of_School, Safety_Score from CHICAGO_PUBLIC_SCHOOLS_DATA where \
Safety_Score= (select MAX(Safety_Score) from CHICAGO_PUBLIC_SCHOOLS_DATA)

 * sqlite:///RealWorldData.db
Done.

[('Abraham Lincoln Elementary School', 99.0),
 ('Alexander Graham Bell Elementary School', 99.0),
 ('Annie Keller Elementary Gifted Magnet School', 99.0),
 ('Augustus H Burley Elementary School', 99.0),
 ('Edgar Allan Poe Elementary Classical School', 99.0),
 ('Edgebrook Elementary School', 99.0),
 ('Ellen Mitchell Elementary School', 99.0),
 ('James E McDade Elementary Classical School', 99.0),
 ('James G Blaine Elementary School', 99.0),
 ('LaSalle Elementary Language Academy', 99.0),
 ('Mary E Courtenay Elementary Language Arts Center', 99.0),
 ('Northside College Preparatory High School', 99.0),
 ('Northside Learning Center High School', 99.0),
 ('Norwood Park Elementary School', 99.0),
 ('Oriole Park Elementary School', 99.0),
 ('Sauganash Elementary School', 99.0),
 ('Stephen Decatur Classical Elementary School', 99.0),
 ('Talman Elementary School', 99.0),
 ('Wildwood Elementary School', 99.0)]

In [61]:
%sql select max(AVERAGE_STUDENT_ATTENDANCE),NAME_OF_SCHOOL from CHICAGO_PUBLIC_SCHOOLS_DATA;

 * sqlite:///RealWorldData.db
Done.

[('98.40%', 'John Charles Haines Elementary School')]

In [63]:
%sql select AVERAGE_STUDENT_ATTENDANCE,NAME_OF_SCHOOL from CHICAGO_PUBLIC_SCHOOLS_DATA \
order by AVERAGE_STUDENT_ATTENDANCE DESC LIMIT 5;

 * sqlite:///RealWorldData.db
Done.

[('98.40%', 'John Charles Haines Elementary School'),
 ('97.80%', 'James Ward Elementary School'),
 ('97.60%', 'Edgar Allan Poe Elementary Classical School'),
 ('97.60%', 'Orozco Fine Arts & Sciences Elementary School'),
 ('97.60%', 'Rachel Carson Elementary School')]

In [64]:
####### Retrieve the list of 5 Schools with the lowest Average Student Attendance sorted in ascending order based on attendance
%sql SELECT Name_of_School, Average_Student_Attendance  \
     from CHICAGO_PUBLIC_SCHOOLS_DATA \
     order by Average_Student_Attendance \
     LIMIT 5

 * sqlite:///RealWorldData.db
Done.

[('Velma F Thomas Early Childhood Center', None),
 ('Richard T Crane Technical Preparatory High School', '57.90%'),
 ('Barbara Vick Early Childhood & Family Center', '60.90%'),
 ('Dyett High School', '62.50%'),
 ('Wendell Phillips Academy High School', '63.00%')]

In [69]:
## remove the percetage % sign from the result above;
%sql SELECT Name_of_School, REPLACE(Average_Student_Attendance, '%', '') \
     from CHICAGO_PUBLIC_SCHOOLS_DATA \
     order by Average_Student_Attendance \
     LIMIT 5;

 * sqlite:///RealWorldData.db
Done.

[('Velma F Thomas Early Childhood Center', None),
 ('Richard T Crane Technical Preparatory High School', '57.90'),
 ('Barbara Vick Early Childhood & Family Center', '60.90'),
 ('Dyett High School', '62.50'),
 ('Wendell Phillips Academy High School', '63.00')]

#### Which schools have lower average attendance rate lower than 70%?

In [86]:
%sql   SELECT Average_Student_Attendance, Name_of_School from \
CHICAGO_PUBLIC_SCHOOLS_DATA \
where CAST (REPLACE (Average_Student_Attendance, '%','')AS double) < 70 \
order by Average_Student_Attendance;

 * sqlite:///RealWorldData.db
Done.

[('57.90%', 'Richard T Crane Technical Preparatory High School'),
 ('60.90%', 'Barbara Vick Early Childhood & Family Center'),
 ('62.50%', 'Dyett High School'),
 ('63.00%', 'Wendell Phillips Academy High School'),
 ('66.30%', 'Orr Academy High School'),
 ('66.80%', 'Manley Career Academy High School'),
 ('68.80%', 'Chicago Vocational Career Academy High School'),
 ('69.60%', 'Roberto Clemente Community Academy High School')]

In [92]:
##Get the total college enrollment for each community_area
%sql select sum(College_Enrollment) AS SUM_ENROLLMENT,Community_Area_Name \
from CHICAGO_PUBLIC_SCHOOLS_DATA \
group by Community_Area_Name LIMIT 4;

 * sqlite:///RealWorldData.db
Done.

[(6864, 'ALBANY PARK'),
 (4823, 'ARCHER HEIGHTS'),
 (1458, 'ARMOUR SQUARE'),
 (6483, 'ASHBURN')]

In [95]:
%sql select Community_Area_Name, sum(College_Enrollment) AS TOTAL_ENROLLMENT \
   from CHICAGO_PUBLIC_SCHOOLS_DATA \
   group by Community_Area_Name \
   order by TOTAL_ENROLLMENT asc \
   LIMIT 5

 * sqlite:///RealWorldData.db
Done.

[('OAKLAND', 140),
 ('FULLER PARK', 531),
 ('BURNSIDE', 549),
 ('OHARE', 786),
 ('LOOP', 871)]

In [97]:
## List 5 schools with lowest safety_score
%sql select NAME_OF_SCHOOL, safety_score from CHICAGO_PUBLIC_SCHOOLS_DATA \
where Safety_Score != 'None' \
order by safety_score asc limit 5;

 * sqlite:///RealWorldData.db
Done.

[('Edmond Burke Elementary School', 1.0),
 ("Luke O'Toole Elementary School", 5.0),
 ('George W Tilton Elementary School', 6.0),
 ('Foster Park Elementary School', 11.0),
 ('Emil G Hirsch Metropolitan High School', 13.0)]

In [101]:
## get the hardship score for the community area with the highest enrollment
%sql select name from pragma_table_info('CENSUS_DATA')

 * sqlite:///RealWorldData.db
Done.

[('COMMUNITY_AREA_NUMBER',),
 ('COMMUNITY_AREA_NAME',),
 ('PERCENT_OF_HOUSING_CROWDED',),
 ('PERCENT_HOUSEHOLDS_BELOW_POVERTY',),
 ('PERCENT_AGED_16__UNEMPLOYED',),
 ('PERCENT_AGED_25__WITHOUT_HIGH_SCHOOL_DIPLOMA',),
 ('PERCENT_AGED_UNDER_18_OR_OVER_64',),
 ('PER_CAPITA_INCOME',),
 ('HARDSHIP_INDEX',)]

In [107]:
%sql select COMMUNITY_AREA_NUMBER, COMMUNITY_AREA_NAME, HARDSHIP_INDEX from CENSUS_DATA \
where community_area_number in \
( select community_area_number from CHICAGO_PUBLIC_SCHOOLS_DATA order by college_enrollment desc limit 1 )

 * sqlite:///RealWorldData.db
Done.

[(5.0, 'North Center', 6.0)]